---
// import Layout from '../layouts/BlogPost.astro';
import Header from "../components/Header.astro";
import Cards from "../components/Cards.astro";
import Footer from "../components/Footer.astro";
// const pageTitle = "About Me";
---

<!DOCTYPE html>
<html lang="en">
    <!-- <head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head> -->
    <body>
        <Header />
        <main>
            <article>
                <div class="about-container">
                   <p class="about-para"> <strong>FinEdge</strong> company also bring innovation to financial
                    processes, making them faster, more secure, and cost-effective.
                    They enable seamless online payments, facilitate peer-to-peer
                    lending, provide robo-advisory services for investment management,
                    and introduce alternative credit scoring methods, among many
                    other solutions.</p>
                </div>
            </article>
        </main>
        <Cards />
        <Footer />
        <script>
            import "../scripts/menu.js";
        </script>
    </body>
</html>

<style>
    .about-container{
        margin-top: 20vh;
        justify-content: center;
        align-items: center;
        height: 50vh;
        width: 70vw;
        display: block;
        margin-left: 14vw;
    margin-right: 51vw;
    }
    .about-para{
        font-size: 2rem;
        margin: 20px;
        text-align: center;
    }
@media (max-width: 420px) {
    .about-para{
font-size: 1rem;
    }
}


</style>
