---

import { SITE_TITLE } from '../consts';
import '../styles/global.css'

---

<header>
	
	<nav class="nav">
		<i class="uil uil-bars navOpenBtn"></i>
		<a href="#" class="logo">CodingLab</a>
		<ul class="nav-links">
		  <i class="uil uil-times navCloseBtn"></i>
		  <li><a href="/">Home</a></li>
		  <li><a href="/about">About Us</a></li>
		  <!-- <li><a href="/">Products</a></li> -->
		  <li><a href="/services">Services</a></li>
		  <li><a href="/contact">Contact Us</a></li>
		</ul>
		<i class="uil uil-search search-icon" id="searchIcon"></i>
		<div class="search-box">
		  <i class="uil uil-search search-icon"></i>
		  <input type="text" placeholder="Search here..." />
		</div>
	  </nav>
</header>
<style>
	header {
		margin: 0em 0 2em;
	}
	h2 {
		margin: 0.5em 0;
	}
</style>
